mongodb:
  url: "mongodb://localhost:27017/icalcord"
  # url: "mongodb://192.168.88.179:27017/icalcord"
  # url: "mongodb+srv://username:password@icalcord.host1337.mongodb.net/icalcord"

memcache:
  url: "localhost:11211"
  key_prefix: "icalcord"
  guild_info_ttl_seconds: 3600  # 60 minutes
  events_ttl_seconds: 600  # 10 minutes
  suggested_feeds_ttl_seconds: 3600  # 60 minutes

discord:
  token: "OTM1NTY2MjUwNTg1NzYzODgw.YIz98g.ffPyQbZQGxQ3tmunQx2i86AWT-M"

frontend:
  ip: 127.0.0.1
  port: 8080
