body {
    /*
    The boilerplate logo ChatGPT generated
    does not have a transparent background.
    It's worse. It's a gradient.
    Whatever, i'll fix it later.
    */
    background-color: #0E0B17;

    color: lightgray;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #A466FB;
}

input {
    width: 40ch;
}

.errorMessageContainer {
    color: red;
}